<div class="menu-items">
  <h2>My Order </h2>
  {% for category, items in menu %}
    <h4>{{ category }}</h4>
    <ul>
      {% for item in items %}
        <li class="menu-item" data-name="{{ item.name }}" data-price="{{ item.price }}">
          <span class="item-name">{{ item.name }}</span>
          <span class="item-price">{{ item.price }}</span>
          <input type="number" class="quantity-input" value="0" min="0">
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  <button class="copy-menu-btn">Copy Order and Message</button>
</div>