---
layout: base.njk
title: Gallery - MaNu Foods
---

<section class="hero gallery-hero">
  <div class="hero-content">
    <h1>Our Food Gallery</h1>
    <p class="hero-tagline">Past menus and dishes</p>
  </div>
</section>

<section class="section-main gallery-section">
  <div class="content-wrapper">
    {% set posts = collections.gallery  %}
    {% include "partials/gallery-grid.njk" %}
  </div>
</section>